[mysql]

# CLIENT #
port                           = 3306
socket                         = /var/lib/mysql/mysql.sock

[mysqld]

# GENERAL #
user                           = mysql
default-storage-engine         = InnoDB
socket                         = /var/lib/mysql/mysql.sock
pid-file                       = /var/run/mysqld/mysql.pid
bind-address    	           = 0.0.0.0
collation-server               = utf8_unicode_ci
init-connect 		           = 'SET NAMES utf8'
character-set-server           = utf8
#skip-name-resolve
# MyISAM #
key-buffer-size                = 32M

# SAFETY #
max-allowed-packet             = 128M
max-connect-errors             = 1000000

# DATA STORAGE #
datadir                        = /var/lib/mysql/

# CACHES AND LIMITS #
tmp-table-size                 = 32M
max-heap-table-size            = 32M
query-cache-type               = 0
query-cache-size               = 0
max-connections                = 500
thread-cache-size              = 50
open-files-limit               = 65535
table-definition-cache         = 4096
table-open-cache               = 4096

# INNODB #
# innodb-flush-method            = O_DIRECT
# innodb-log-files-in-group      = 2
# innodb-log-file-size           = 512M
# innodb-flush-log-at-trx-commit = 1
# innodb-file-per-table          = 1
# innodb-buffer-pool-size        = 108G
sql_mode = "NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_AUTO_CREATE_USER"

# LOGGING #
# log-error                      = /var/lib/mysql/mysql-error.log
# slow-query-log-file            = /var/lib/mysql/mysql-slow.log
# log_output=file
# slow_query_log=ON
# long_query_time=0
# log_slow_rate_limit=100
# log_slow_rate_type=query
# log_slow_verbosity=full
# log_slow_admin_statements=ON
# log_slow_slave_statements=ON
# slow_query_log_always_write_time=1
# slow_query_log_use_global_control=all
# innodb_monitor_enable=all
# userstat=1
# performance_schema=ON
